# Some settings for .gitignore
# List to ignore
__pycache__/

# folders to ignore
examples/data/tiff_sequences
examples/export
examples/.ipynb_checkpoints
examples/output
.idea/
.DS_Store
projects/
!projects/
projects/*
!projects/debugging/

# files to ignore
DRP.log
examples/*.py
examples/*.raw
examples/*.tif
drp_template/default_params/initialization.json

# packaging tools
dependecy_links.txt
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt