# Some settings for .gitignore
# List to ignore
__pycache__/
drp_template/__pycache__
drp_template/analyze/__pycache__
drp_template/default_params/__pycache__
drp_template/drp_template/__pycache__
drp_template/image/__pycache__
drp_template/input_output/__pycache__
drp_template/rp_template/__pycache__
drp_template/tools/__pycache__

# folders to ignore
.idea
vscode
.vscode
.DS_Store
examples/data/tiff_sequences
examples/.ipynb_checkpoints
examples/lectures
examples/data
examples/output
projects
debugging
output
dev
tests

# files to ignore
DRP.log
examples/data/*.raw
examples/data/*.tif

# packaging tools
drp_template.egg-info
dependency_links.txt
PKG-INFO
requires.txt
SOURCES.txt
top_level.txt

# Sphinx
build
source
make.bat
Dockerfile
Makefile